#header {
  text-align: center;
  background-color: aliceblue;
}
.tablehead {
  background-color: #888;
  color: white;
  display: inline-block;
  border: solid 1px black; 
  border-left: 1px;
  padding-left: 2px;
}
.rowEl {
  display: inline-block;
  border: solid 1px black; 
  border-left: 1px;
  padding-left: 2px;
}
.row:hover{
  cursor: pointer;
  background-color: teal;
}
.table {
  display: inline-block;
  border: solid 1px black; 
  /* padding: 2px; */
}
nav {
  width: 660px;
  margin: 0 auto 30px;
}
#tables {
  width: 10%;
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
#menu > div {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.topmenu li:hover {
  cursor: pointer;
}
.tables:hover {
  background-color: black;
  color: white;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: aliceblue;
}
#menu .submenu {
  display: none;
}
#menu #tables:hover .submenu {
  display: block;
}
#menu ul li:hover .submenu {
  display: block;
}
#menu #reports:hover .submenu {
  display: block;
}
.btns:hover{
  cursor: pointer;
}
#pages .page{
  display: inline-block;
  padding: 10px;
  border: 1px solid;
}
#pages .page:hover{
  cursor: pointer;
  background-color: teal;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow: auto;
} 
#main {
  height: 95vh;
}
